
/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px); /* 背景模糊 */
  --font-color: white;
}

#aside-content .card-widget {
  background-color: var(--card-bg);
  backdrop-filter: blur(5px);
  color:white;
}

.recent-post-info,
.content,
.post-meta-date,
.article-meta,
.title,
.card-archive-list-date,
.headline {
  color: var(--font-color);
}

i, a, body, time {
  color: var(--font-color);
}

.recent-post-info {
  backdrop-filter: blur(10px);
}

#post {
  backdrop-filter: blur(10px);
}